@page "/post"

<PageTitle>Post</PageTitle>

<h1 style="text-align:center; margin-bottom:10vh;font-family:'cursive'"><font color="#9900FF"> Mis Posts 🗒️ </font> </h1>
    <div class="background" style="background-color:aliceblue; margin-bottom:10vh;padding-top:10vh">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3" style="width:50.2vh;">
                        <img class="card-img-top" style="width:50vh; height:auto" src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*j6uXq2bC0lYaYkHHJVAPhg.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">¿Qué es una API?</h5>
                            <p class="card-text">Una API o interfaz de programación de aplicaciones es un sistema que permite a dos componentes de software comunicarse entre ellos mediante un conjunto de protocolos. Cuando creamos una API debe haber una documentación ya que en ella habrá un contrato de cómo debemos realizar las solicitudes y respuestas.</p>
                            <a class="btn btn-info btn-lg btn-block" style="margin-top: 5px; background-color:aliceblue" href="https://medium.com/%40a.herrerapuertas/investigaci%C3%B3n-sobre-apis-4e033e3bc978" target="_blank">Seguir leyendo</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3" style="width:50.2vh;">
                        <img class="card-img-top" style="width:50vh; auto" src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*FY3i_qK8CpklpdgmgY3jFw.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Programación orientada a objetos</h5>
                            <p class="card-text">
                                La programación orientada a objetos, es un paradigma que surgió en los años ’70 pero hasta años más tarde no se popularizó.

                                Actualmente hay muchas aplicaciones que hacen casi lo mismo, por ello es necesario identificar patrones para no tener que reinventar la rueda.

                            </p>
                            <a class="btn btn-info btn-lg btn-block" style="margin-top: 5px; background-color:aliceblue" href="https://medium.com/%40a.herrerapuertas/programaci%C3%B3n-orientada-a-objetos-poo-613db38ff075" target="_blank">Seguir leyendo</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3" style="width:50.2vh;">
                        <img class="card-img-top" style="width:50vh; height:auto" src="https://miro.medium.com/v2/resize:fit:640/format:webp/1*5B_NfoYl8pHmq1Pa2cq2JA.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Kronobot — Acercando el mundo de las carreras</h5>
                            <p class="card-text">
                                Me presento, soy Antonia Herrera y hace unos meses que empecé en el mundo de la programación.

                                Empezamos este proyecto para que pudiese iniciarme en el mundo del desarrollo web y ver como funcionan algunas herramientas. Como nos apasiona el mundo del motor y el de la programación, decidimos fusionarlos y hacer una app para las pruebas automovilísticas de las Islas Baleares y así poder contribuir un poco con software libre.
                            </p>
                            <a class="btn btn-info btn-lg btn-block" style="margin-top: 5px; background-color:aliceblue" href="https://medium.com/%40a.herrerapuertas/kronobot-acercando-el-mundo-de-las-carreras-d52b3e956abc" target="_blank">Seguir leyendo</a>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>













    @code{

    }
